.calculator {
  max-width: 360px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  background-color: #c83434;
}
.btn {
  font-size: 1.5rem;
  padding: 20px;
}
.form-control {
  font-size: 2rem;
  height: 60px;
  text-align: right;
}